{
    "name": "Knox",
    "description": "Cache web resources.",
    "manifest_version": 3,
    "action": {
        "default_popup": "knox.html"
    },
    "permissions": [
        "tabs"
    ],
    "host_permissions": [
        "http://knox/*"
    ]
}
